main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.clock {
  font-size: 11em;
  font-weight: bold;
  color: white;
  z-index: 1;
}
