@import "reset.css";
@import "search.css";
@import "weather.css";
@import "clock.css";
@import "greeding.css";
@import "quote.css";
@import "todo.css";

body {
  font-size: 16px;
  position: relative;
}

.hidden {
  display: none;
}

.background2 {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  z-index: 0;
}
