footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding-bottom: 15px;
  line-height: 1.5;
  z-index: 1;
}
.backgroundSource {
  width: 15%;
  min-width:100px;
}

.todo {
  width: 15%;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15px;
}

.todo__btn {
  padding-right: 5px;
}

.todoForm input {
  bottom: 0;
  font-size: 1.0rem;
  background: none;
  border: none;
  color: #555;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  width: 250px;
}
.todoForm input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.todoForm input:active, 
.todoForm input:focus {
  outline: none;
  transition: border-bottom 0.2s ease-in-out;
}
.todoForm [type="submit"]{
  display: none;
}

.todoBox {
  position: absolute;
  bottom: 60px;
  width: 300px;
  height: 100px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}


.todoBox__subject {
  color: rgb(25, 25, 25);
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.todoBox__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.todoList li {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  color: #222;
  padding: 2px;
}
